<div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body text-center">
            <h2 class="mb-2 text-dark font-weight-normal">{{ variable1 }}</h2>
            <div class="dashboard-progress d-flex align-items-center justify-content-center item-parent">
            <h2 class="mb-2 text-dark font-weight-normal"> {{ variable2 }} </h2>
                {# <i class="mdi mdi-account-circle icon-md absolute-center text-dark"></i> #}
            </div>
            <h3 class="mt-4 mb-0"> {{ variable3 }} </h3>
            <p class="mb-0 font-weight-bold mt-2 text-dark"> {{ variable4 }} </p>
        </div>
    </div>
</div>