{% extends 'base.html.twig' %}
{% block title %}Budget{% endblock %}



{% block body%}
<h1 class="text-center">Balance budget</h1>
<div class="row h-100  justify-content-center align-items-center">
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ce mois-ci</h4>
                <div id="budgetm"></div>
            </div>
        </div>
    </div>
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Depuis toujours</h4>
                <div id="budgett"></div>
            </div>
        </div>
    </div>
    
</div>


{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="application/javascript">
	$(document).ready(function () {
        google.charts.load('current', {'packages': ['bar']});
        google.charts.setOnLoadCallback(initialize);
    });

    function initialize() {
        balanceMCharts();
        balanceTCharts();
    }

{% include 'user/comptes/balancemChart.js.twig' %}
{% include 'user/comptes/balancetChart.js.twig' %}
</script>

{% endblock %}