{% extends 'base.html.twig' %}
{% block title %}Stocks{% endblock %}


{% block body%}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Impressions Effectués</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Utilisateur </th>
                        <th> Imprimante </th>
                        {# <th> Marque </th> #}
                        <th> Nom </th>
                        <th> Désactivée le </th>
                    </tr>
                </thead>
                <tbody>
                    {% for printers in printer %}
                    <tr>
                        <td class="py-1">
                            {{app.user.username }}
                        </td>
                        <td> {{ printers.nom_imprimante }} </td>
                        <td>
                            {{ printers.type_imprimante }}
                        </td>
                        <td> {{printers.deleted ? printers.deleted|date('d/m/Y-H:m') : '' }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}