{% extends 'base.html.twig' %}
{% block title %}Stocks{% endblock %}


{% block body%}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stocks disponibles</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Utilisateur </th>
                        <th> Couleur </th>
                        <th> Poids </th>
                        <th> Catégorie </th>
                        <th> Prix </th>
                    </tr>
                </thead>
                <tbody>
                    {% for printers in printer %}
                    <tr>
                        <td class="py-1">
                            {{app.user.username }}
                        </td>
                        <td> {{ stocks.nom_imprimante }} </td>
                        <td>
                            {{ stocks.type_imprimante }}
                        </td>
                        <td> {{stocks.category }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}