{% extends 'base.html.twig' %}
{% block title %}Stocks{% endblock %}


{% block body%}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stocks disponibles</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Utilisateur </th>
                        <th> Couleur </th>
                        <th> Poids </th>
                        <th> Catégorie </th>
                        <th> Prix </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-1">
                            Bébech
                        </td>
                        <td> Jaune </td>
                        <td>
                            1 Kg
                        </td>
                        <td> PLA </td>
                        <td> 25.00€ </td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            Bébech
                        </td>
                        <td> Bleu </td>
                        <td>
                            1 Kg
                        </td>
                        <td> PLA </td>
                        <td> 25.00€ </td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            Bébech
                        </td>
                        <td> Vert </td>
                        <td>
                            1 Kg
                        </td>
                        <td> PLA </td>
                        <td> 25.00€ </td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            Bébech
                        </td>
                        <td> Noir </td>
                        <td>
                            1 Kg
                        </td>
                        <td> PLA </td>
                        <td> 25.00€ </td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            Bébech
                        </td>
                        <td> Orange </td>
                        <td>
                            1 Kg
                        </td>
                        <td> PLA </td>
                        <td> 25.00€ </td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            Bébech
                        </td>
                        <td> Vert </td>
                        <td>
                            1 Kg
                        </td>
                        <td> PLA </td>
                        <td> 25.00€ </td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            Bébech
                        </td>
                        <td> Rouge </td>
                        <td>
                            1 Kg
                        </td>
                        <td> PLA </td>
                        <td> 25.00€ </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}