{% extends 'empty.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Dépenses</h4>
                    <canvas id="areaChart" style="height:250px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ventes</h4>
                    <canvas id="areaChart" style="height:230px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="{{asset('vendors/chart.js/Chart.min.js')}}"></script>
    <script src="{{asset('js/chart.js')}}"></script>
{% endblock %}
