{% extends 'base.html.twig' %}
{% block title %}Centre de contrôle{% endblock %}


{% block body%}
<div class="d-xl-flex justify-content-between align-items-start">
    <h2 class="text-dark font-weight-bold mb-2"> Centre de contrôle </h2>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tab-content tab-transparent-content">
            <div class="tab-pane fade show active" id="business-1" role="tabpanel" aria-labelledby="business-tab">
                <div class="row">
                    

                    {% include 'includes/card.html.twig' with {
                        'variable1': 'Imprimantes possédés',
                        'variable2': imprimantes,
                        'variable3': 'Imprimantes Actives',
                        'variable4': actifs
                    } %}

                    {% include 'includes/card.html.twig' with {
                        'variable1': 'Dépenses totales',
                        'variable2': depenses ? depenses : '0 €',
                        'variable3': 'Ces 30 derniers jours',
                        'variable4': mois
                    } %}

                    {% include 'includes/card.html.twig' with {
                        'variable1': 'Impressions totales',
                        'variable2': impressions ? impressions : '0',
                        'variable3': 'Ces 30 derniers jours',
                        'variable4': total ? total : '0'
                    } %}
                    {% include 'includes/card.html.twig' with {
                        'variable1': 'Profit total',
                        'variable2': profit,
                        'variable3': 'Ces 30 derniers jours',
                        'variable4': pmois
                    } %}
                    
                </div>
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h4 class="card-title mb-0">Activité récente</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 grid-margin  grid-margin-lg-0">
                                        <div class="wrapper pb-5 border-bottom">
                                            <div
                                                class="text-wrapper d-flex align-items-center justify-content-between mb-2">
                                                <p class="mb-0 text-dark">Total Profit</p>
                                                <span class="text-success"><i class="mdi mdi-arrow-up"></i>0.90%</span>
                                            </div>
                                            <h3 class="mb-0 text-dark font-weight-bold">900.50€</h3>
                                            <canvas id="total-profit"></canvas>
                                        </div>
                                        <div class="wrapper pt-5">
                                            <div
                                                class="text-wrapper d-flex align-items-center justify-content-between mb-2">
                                                <p class="mb-0 text-dark">Dépenses</p>
                                                <span class="text-success"><i class="mdi mdi-arrow-up"></i>100%</span>
                                            </div>
                                            <h3 class="mb-4 text-dark font-weight-bold"> 500.20€</h3>
                                            <canvas id="total-expences"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-sm-8 grid-margin  grid-margin-lg-0">
                                        <div class="pl-0 pl-lg-4 ">
                                            <div class="d-xl-flex justify-content-between align-items-center mb-2">
                                                <div class="d-lg-flex align-items-center mb-lg-2 mb-xl-0">
                                                    <h3 class="text-dark font-weight-bold mr-2 mb-0">Ventes</h3>
                                                    <h5 class="mb-0">( En hausse de 48% )</h5>
                                                </div>
                                                <div class="d-lg-flex">
                                                    <p class="mr-2 mb-0">Timezone:</p>
                                                    <p class="text-dark font-weight-bold mb-0">GMT+02 Paris/Dublin</p>
                                                </div>
                                            </div>
                                            <div class="graph-custom-legend clearfix" id="device-sales-legend"></div>
                                            <canvas id="device-sales"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 grid-margin stretch-card">
                        <div class="card card-danger-gradient">
                            <div class="card-body mb-4">
                                <h4 class="card-title text-white">Account Retention</h4>
                                <canvas id="account-retension"></canvas>
                            </div>
                            <div class="card-body bg-white pt-4">
                                <div class="row pt-4">
                                    <div class="col-sm-6">
                                        <div class="text-center border-right border-md-0">
                                            <h4>Conversion</h4>
                                            <h1 class="text-dark font-weight-bold mb-md-3">$306</h1>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="text-center">
                                            <h4>Cancellation</h4>
                                            <h1 class="text-dark font-weight-bold">$1,520</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8  grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-xl-flex justify-content-between mb-2">
                                    <h4 class="card-title">Page views analytics</h4>
                                    <div class="graph-custom-legend primary-dot" id="pageViewAnalyticLengend"></div>
                                </div>
                                <canvas id="page-view-analytic"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}