{% extends 'base.html.twig' %}


{% block body %}
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <p class="text-info display-2">Bienvenue sur {{ site_name }}</p>
                <p class="display-5">Filamentgestion c'est plus de : </p>
            </div>
        </div>
    </div>
    <div class="row">
        
        {% include 'includes/card.html.twig' with {
            'variable1': utilisateurs,
            'variable2': 'Utilisateurs',
            'variable3': '1',
            'variable4': 'Pays'
        } %}

        {% include 'includes/card.html.twig' with {
            'variable1': imprimantes,
            'variable2': 'Imprimante enregistré',
            'variable3': impressions,
            'variable4': 'Impression effectué'
        } %}
        
        {% include 'includes/card.html.twig' with {
            'variable1': contributeurs,
            'variable2': 'Contributeurs',
            'variable3': pages,
            'variable4': 'Pages crées'
        } %}

        {% include 'includes/card.html.twig' with {
            'variable1': entreprises,
            'variable2': 'Entreprise',
            'variable3': partenaires,
            'variable4': 'Partenaire'
        } %}

    </div>

    <p class="mb-0 font-weight-bold mt-2 text-primary text-center text-uppercase">C'est aussi de bon et loyaux services depuis 2020</p>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Évolution des inscriptions</h4>
                    <canvas id="areaChart" style="height:250px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Évolution du nombre d'entreprises</h4>
                    <canvas id="lineChart" style="height:250px"></canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock %}